<div class="center-container">
    <form (ngSubmit)="onSubmit()">
        <div class="form-container">
            <div class="form-field">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Nombre" [(ngModel)]="register.name" name="name" required>
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="Correo" [(ngModel)]="register.email" name="email" required>
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field>
                    <mat-label>Contaseña</mat-label>
                    <input matInput type="password" placeholder="Contraseña" [(ngModel)]="register.password"
                        name="password" required>
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-form-field>
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput type="password" placeholder="Confirmar contraseña"
                        [(ngModel)]="register.confirmation" name="confirmation" required>
                </mat-form-field>
            </div>

            <div class="form-field">
                <mat-checkbox [(ngModel)]="register.accept" name="aceptar">Aceptar términos y condiciones</mat-checkbox>
            </div>

            <div class="form-field">
                <button mat-raised-button color="primary" type="submit">Registrarse</button>
            </div>
        </div>
    </form>
</div>