
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
  }

  .form-field {
    text-align: center;
    width: 100%;
  }
  
  .form-field button {
    width: 100%;
  }