<section class="search-container">
  <img id="img-logo" src="/assets/img/logo.png" alt="Logo">
  <h3>Explora, Descubre, Informa</h3>
  <form action="/search" method="GET" id="search-form">
    <input type="text" id="search-box" name="query" value="{{ query }}" placeholder="Buscar noticias...">
    <button type="submit" id="search-button">Buscar <i class="fas fa-search"></i></button>
  </form>
</section>